/**
 * Main CSS Styles by Tammy Knox
 * This file was created for DePaul's HCI-472 HCI Design Fundamentals Course.
 * Not for duplication.
 * Assignment: Type Hierarchies
 **/

 /* IMPORTS */
 
 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
 


 /* MAIN STYLES */
 
 * {
     margin: 0;
   }

a{
    text-decoration:none;
    color:#fff;
}
.subtext > a{
    color:#1d8de9;
}
a:hover{
    color:#dc7853;

}

a:active{
    color:#dc7853;

}
a.active{
    color:#dc7853;
}

p{
    font-size:16px;
}

/*Alegreya Sans*/

   .alegreya-sans{
    font-family: "Alegreya Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
h1.alegreya-sans{
    font-size: 5.61rem;
}

h2.alegreya-sans{
    font-size: 4.209rem;
}

h3.alegreya-sans{
    font-size: 3.157rem;
}

h4.alegreya-sans{
    font-size: 2.369rem;
}

p.alegreya-sans{
    font-size: 1rem;
}

/*Fraunces & Urbanist*/

.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.urbanist {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1.fraunces{
    font-size: 2.986rem;
}

h2.fraunces{
    font-size: 2.488rem;
}

h3.fraunces{
    font-size: 2.074rem;
}

h4.fraunces{
    font-size: 1.728rem;
}

p.urbanist{
    font-size: 1rem;
}

/* DM Sans & Trirong */
.trirong-medium {
    font-family: "Trirong", serif;
    font-weight: 500;
    font-style: normal;
}

.dm-sans {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1.dm-sans{
    font-size: 3.815rem;
}

h2.dm-sans{
    font-size: 3.052rem;
}

h3.dm-sans{
    font-size: 2.441rem;
}

h4.dm-sans{
    font-size: 1.953rem;
}

p.trirong-medium{
    font-size: 1rem;
}
/*Override Styles*/

.bg-body-tertiary{
    background-color:#33062b !important;
}

a.nav-link{
    color:#fff;
}

.navbar-nav .nav-link.active{
    color:#dc7853;
}

.navbar-nav .nav-link:hover{
    color:#dc7853;
}

.navbar-brand{
    color:#fff;
}

.navbar-brand:hover{
    color:#dc7853;
}
.nav-link.show{
    color:#dc7853 !important;
}

